@import "~normalize.css/normalize.css";
@import "variables";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $background-color;
}

button {
    @include RoundedCorner();
}

.flex-container {
    display: inline-flex;
    height: 768px;
    margin: 0 auto;

    .header {
        width: 170px - 40px;
        padding: 20px;
        display: inline-flex;

        .title {
            width: 70px;
            background-color: azure;
        }

        .nav {
            width: 56px;
            background-color: azure;
            display: inline-flex;
            flex-direction: column;

            button {
                height: 50%;
                width: 100%;
                p {
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                    margin: auto;
                }
            }
        }
    }

    .main {
        display: inline-flex;
        width: 1156px;
        padding: 20px;
        background-color: $background-color;

        .field {
            width: 160px;
            margin-right: 20px;
            display:inline-flex;
            flex-direction: column;

            .field-upper {
                height: 50%;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-evenly;
                button {
                    padding: 0;
                    width: 100%;
                    height: 36px;
                    border-radius: 0;
                    color: $primary-color;
                    background: $background-white;
                    border: 0;
                }
                button.active, button.active:hover {
                    color: $background-color;
                    background: $primary-color;
                }
                button:focus, button:active {
                    outline: 0;
                }
                button:hover {
                    cursor: pointer;
                    color: $background-color;
                    background: rgba($primary-color, .5);
                }

            }
            .field-lower{
                height: 50%;
                p {
                    text-align: center;
                }
            }
        }

        .content {
            width: 976px;
        }

        #BMI {
            display: inline-flex;

            .info {
                display: inline-flex;
                flex-direction: column;
                width: 300px;
                margin-right: 20px;

                .info-upper {
                    height: 520px;
                    margin-bottom: 20px;
                    .select-wrapper {
                        width: 70%;
                        margin: 50px auto 40px auto;
                    }
                }

                .info-lower {
                    height: 188px;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    p {
                        text-align: center;
                    }
                }
            }

            .charts {
                width: 656px;
            }

            .WorldMap {
                .country {
                    fill: #F0E4DD;
                    stroke: #e0cabc;
                    stroke-width: 0.5;
                }

                .country:hover {
                    fill: rgba($primary-color, 0.5);
                    stroke: rgba($primary-color, 0.5);
                }

                .country.active,
                .country.active:hover {
                    fill: $primary-color;
                }

                .buttons {
                    position: relative;
                    margin-bottom: -24px;
                    left: 30px;
                    top: -35px;
                }
            }

            .TrendCharts {
                .slider-wrapper {
                    display: flex;
                    padding-top: 15px;
                    padding-bottom: 5px;
                    input {
                        width: 90%;
                        margin: 0 auto;
                    }
                    input:focus, input:active {
                        outline: 0;
                    }
                }

                svg > g.Line > path {
                    fill: none;
                    stroke: #ffabff;
                    stroke-width: 3;
                }
            }
        }

        #GDP {
            display: none;
            flex-direction: column;

            * {
                // Otherwise all child elements will have a "display: none" style.
                display: block;
            }

            .GDP-upper {
                display: inline-flex;
                height: 120px;

                .select-wrapper{
                    width: 30%;
                    padding: 50px 50px 40px 30px;
                    }
                .slider-wrapper-two {
                    width: 70%;
                    margin: 0 auto;
                    padding-top: 55px;
                    padding-right: 50px;
                    input {
                        width: 100%;
                    }
                }
            }

            .GDP-lower{
                g.Bubble {
                    .bubble{
                        fill: #ffffff;
                        stroke: #797977;
                        stroke-width: 1;
                    }
                }
            }
        }

        .slider {
            -webkit-appearance: none;
            appearance: none;
            @include RoundedCorner();
            background: #F0F0F0;
            height: 10px;
            
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            @include RoundedCorner();

            height: 30px;
            width: 10px;
            background: $primary-color;
            cursor: pointer;

        }
    }

    .section {
        background-color: $background-white;
        @include RoundedCorner();
        @include BoxShadow();
    }
}

div#tooltip {
    opacity: 0;
    position: absolute;			
    text-align: center;			
    width: 110px;				
    padding: 2px;				
    font: 12px sans-serif;		
    background: #F0EDE9;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    p {
        margin: 0;
    }
}

select{
    width: 100%;
    border: 0;
    border-bottom: 1px solid $primary-color;
    text-align: center;
    text-align-last: center;

    option {
        padding-top: 20px;
    }
}
