@import "~normalize.css/normalize.css";
@import "variables";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $background-color;
}

button {
    @include RoundedCorner();
}

.welcome {
    width: 1366px;
    height: 768px;
    position: absolute;
    z-index: 99;

    button {
        background: none;
        color: #ffffff;
        border: 2px solid #ffffff;
        font-weight: bold;
    }

    button:hover {
        background: #ffffff;
        color: $primary-color;
        outline: 0;
        cursor: pointer;
    }

    button:disabled {
        background: none;
        color: #ffffff;
        cursor: default;
    }

    #startDemo {
        position: absolute;
        left: 548px;
        top: 429px;
        width: 271px;
        height: 60px;
    }

    #aboutUs {
        position: absolute;
        left: 600px;
        top: 681px;
        width: 166px;
        height: 37px;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 466px;
        color: $background-white;
        font-size: 14px;
        font-weight: bold;
    }
}

.flex-container {
    display: inline-flex;
    height: 768px;
    margin: 0 auto;

    .header {
        width: 150px;
        height: 728px;
        margin-top: 20px;
        background: $background-white;
        @include RoundedCorner();
        @include BoxShadow();
        display: inline-flex;

        .title {
            display: flex;
            width: 70px;
            height: 100%;
            justify-content: center;
            color: $primary-color;
            font-size: 18px;

            p{
                text-align: center;
                writing-mode: vertical-lr;
                text-orientation: upright;
            }
        }

        .nav {
            width: 56px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;

            button {
                @include BoxShadow();
                height: 47%;
                width: 100%;
                background: $background-white;
                border: none;
                color: $primary-color;
                p {
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                    margin: auto;
                }
            }

            button:hover {
                background: rgba($primary-color, 0.5);
                cursor: pointer;
                color: white;
            }

            button.active {
                background: $primary-color;
                color: white;
                font-weight: bold;
            }
            
            button:focus, button.active:focus {
                outline: none;
                color: white;
            }
        }
    }

    .main {
        display: inline-flex;
        width: 1156px;
        padding: 20px;
        background-color: $background-color;

        .field {
            width: 160px;
            margin-right: 20px;
            display:inline-flex;
            flex-direction: column;

            .field-upper {
                height: 50%;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                button {
                    padding: 0;
                    width: 100%;
                    height: 14%;
                    border-radius: 0;
                    color: $primary-color;
                    background: $background-white;
                    border: 0;
                }
                button.active, button.active:hover {
                    color: $background-color;
                    background: $primary-color;
                    font-weight: bold;
                }
                button:focus, button:active {
                    outline: 0;
                }
                button:hover {
                    cursor: pointer;
                    color: $background-color;
                    background: rgba($primary-color, .5);
                }

            }
            .field-lower{
                height: 50%;
                font-size: 14px;
                .BMI {
                    padding: 0 20px 20px 30px;
                    margin-top: -20px;
                }
                .GDP {
                    padding: 0 20px 0 30px;
                    margin-top: -14px;
                }
            }
        }

        .content {
            width: 976px;
        }

        #BMI {
            display: inline-flex;

            .info {
                display: inline-flex;
                flex-direction: column;
                width: 300px;
                margin-right: 20px;

                .info-upper {
                    height: 520px;
                    margin-bottom: 20px;
                    .select-wrapper {
                        width: 70%;
                        margin: 50px auto 40px auto;
                    }
                    .portrait-wrapper {
                        display: flex;

                        img.info-portrait {
                            margin: 0 auto;
                            object-fit: none;
                            object-position: -194px 0;
                        }
                    }
                }

                .info-lower {
                    height: 188px;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    p {
                        text-align: center;
                    }
                }
            }

            .charts {
                width: 656px;
            }

            .WorldMap {
                .country {
                    fill: #F0E4DD;
                    stroke: #e0cabc;
                    stroke-width: 0.5;
                }

                .country:hover {
                    fill: rgba($primary-color, 0.5);
                    stroke: rgba($primary-color, 0.5);
                }

                .country.active,
                .country.active:hover {
                    fill: $primary-color;
                }

                .buttons {
                    position: relative;
                    margin-bottom: -24px;
                    left: 30px;
                    top: -35px;

                    button {
                        background: $background-white;
                        border: none;
                        height: 25px;
                        width: 25px;
                        border-radius: 25px;
                        position: relative;

                        p {
                            position: relative;
                            text-align: center;
                            font-weight: bold;
                            color: $primary-color;
                            margin: auto;
                            font-size: 20px;
                        }
                    }

                    button:focus, button:active {
                        outline: none;
                    }
                    button:active {
                        box-shadow: 0px 0px 0px 1px $primary-color;
                    }
                }
                
            }

            .TrendCharts {
                .slider-wrapper {
                    display: flex;
                    padding-top: 30px;
                    padding-bottom: 5px;
                    
                    .slider-main {
                        width: 100%;
                        padding-left: 10px;
                        input {
                            width: 81%;
                            margin: 0 10px;
                        }
                        input:focus, input:active {
                            outline: 0;
                        }
                    }

                    .slider-output {
                        width: 0;
                        position: relative;
                        top: -15px;
                        left: -11%;
                        margin: 0;
                        color: $primary-color;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                svg {
                    g.Line {
                        path {
                            fill: none;
                            stroke: $primary-color;
                            stroke-width: 3;
                        }
                        .circle {
                            fill: none;
                            stroke: none;
                        }
                        .circle.active {
                            fill: $primary-color;
                        }
                    } 
                }
            }
        }

        #GDP {
            display: none;
            flex-direction: column;

            * {
                // Otherwise all child elements will have a "display: none" style.
                display: block;
            }

            .GDP-upper {
                display: inline-flex;
                height: 104px;

                .select-wrapper{
                    width: 30%;
                    padding: 50px 50px 40px 30px;
                    }
                .slider-wrapper-two {
                    display: flex;
                    width: 70%;
                    margin: 0 auto;
                    padding-top: 55px;
                    padding-right: 50px;
                    
                    .slider-main {
                        display: flex;
                        width: 100%;

                        input {
                            width: 100%;
                            margin: 0 10px;
                        }
                        input:focus, input:active {
                            outline: 0;
                        }
                    }

                    .slider-output {
                        width: 0;
                        position: relative;
                        top: -35px;
                        left: -7%;
                        color: $primary-color;
                        font-size: 14px;
                        font-weight: bold;
                    }

                }
            }

            .GDP-lower{
                g.Bubble {
                    .bubble{
                        fill: none;
                        stroke: #797977;
                        stroke-width: 1;
                    }
                    .bubble:hover {
                        fill: rgba($primary-color, .5);
                        cursor: pointer;
                    }
                    .bubble.active {
                        fill: $primary-color;
                    }
                }
            }
        }

        .slider {
            -webkit-appearance: none;
            appearance: none;
            @include RoundedCorner();
            background: #F0F0F0;
            height: 10px;
            
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            @include RoundedCorner();

            height: 30px;
            width: 10px;
            background: $primary-color;
            cursor: pointer;

        }

        .axis-label {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .section {
        background-color: $background-white;
        @include RoundedCorner();
        @include BoxShadow();
    }
}

div#tooltip {
    opacity: 0;
    position: absolute;			
    text-align: center;			
    width: 110px;				
    padding: 2px;				
    font: 12px sans-serif;		
    background: #F0EDE9;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    p {
        margin: 0;
    }
}

select{
    width: 100%;
    border: 0;
    border-bottom: 2px solid $primary-color;
    text-align: center;
    text-align-last: center;

    option {
        padding-top: 20px;
    }
}

select:focus, select:active {
    outline: 0;
}
